.row {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col-6 {
  flex: 1;
  max-width: 50%;
  min-height: fit-content;
  margin: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.col-6-nav {
  flex: 1;
  min-height: fit-content;
  margin: 10px;
}

.col-12 {
  flex: 100%;
  min-height: fit-content;
  margin: 10px;
}

.col-three-quarter {
  position: relative;
  flex: 1;
  max-width: 70%;
  min-height: fit-content;
  margin: 10px;
  align-items: center;
}

.col-one-quarter {
  position: relative;
  flex: 1;
  max-width: 30%;
  min-height: fit-content;
  margin: 10px;
  align-items: center;
}

.col-revenue {
  position: relative;
  flex: 1;
  max-width: 850px;
  min-height: fit-content;
  align-items: center;
  margin-left: 70px;
}

.col-category {
  position: relative;
  flex: 1;
  max-width: 400px;
  min-height: fit-content;
  margin-left: 40px;
  margin-right: 20px;
  align-items: center;
}

@media (max-width: 930px) {
  #aside-lg {
    display: none;
  }
}

@media (max-width: 600px) {
  .sales-table-card {
    display: none;
  }

  .monthly-revenue-card {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  
  .sales-category-card {
    width: 100%;
    margin-top: 20px;
  }

  .sales-table-card {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .monthly-revenue-card {
    display: none;
  }
  .col-12 {
    flex: 100%;
    max-width: 600px;
  }
  .col-6 {
    flex: 100%;
    max-width: 600px;
  }

  .col-6-nav {
    max-width: 50%;
    max-width: 600px;
  }

  .col-three-quarter {
    flex: 100%;
    max-width: 500px;
  }

  .col-one-quarter {
    flex: 100%;
    max-width: 600px;
  }

  .main {
    height: max-content;
  }

  #aside-lg {
    display: none;
  }

  .row .mt {
    margin-top: 0px;
  }

  #dashboard-name {
    display: none;
  }

  #menu-sm {
    display: flex;
  }
  .profile-avatar {
    margin-left: 10px;
  }

  #hide-profile {
    display: none;
  }
}

@media (max-width: 300px) {
  #navbrand-800 {
    display: flex;
  }
}

@media (max-width: 1180px) {
  #monthly-growth {
    display: none;
  }

  #update-info {
    display: none;
  }
}

@media (max-width: 1030px) {
  .search-section {
    display: none;
  }
}

@media (max-width: 1180px) {

}

@media (max-width: 1080px) {
  .header-status,
  .header-date,
  .header-id {
    display: none;
  }

  .header-status-content,
  .header-date-content,
  .header-id-content {
    display: none;
  }

  .header-product-content {
    width: calc(100% / 4 * 1.5);
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-customer-content {
    width: calc(100% / 4 * 1.5);
    height: 100%;
  }

  .header-amount-content {
    width: calc(100% / 4);
    height: 100%;
  }

  .header-action-content {
    width: calc(100% / 4);
    height: 100%;
  }

  .header-product {
    width: calc(100% / 4 * 1.5);
    height: 100%;
  }

  .header-customer {
    width: calc(100% / 4 * 1.5);
    height: 100%;
  }

  .header-amount {
    width: calc(100% / 4);
    height: 100%;
  }

  .header-action {
    width: calc(100% / 4);
    height: 100%;
  }
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
